# python
*.egg-info
*_version.py
*.pyc
*__pycache__
*.ipynb_checkpoints

# python tools
.pytest_cache
.ruff_cache
.pytask.sqlite3
.pytask
.pixi

# bld
bld/

# latex
*.aux
*.bbl
*.bcf*
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.nav
*.snm
*.toc

# documentation
docs_template/build/
docs_template/scripts/latex/*.png

# local
.vscode
