# NOTE: you have to use single-quoted strings in TOML for regular expressions.
# It's the equivalent of r-strings in Python.  Multiline strings are treated as
# verbose regular expressions by Black.  Use [ ] to denote a significant space
# character.

[tool.black]
line-length = 79
py36 = true
include = '(\.pyi?|wscript)$'
exclude = '''
/(
    \.git
  | \.tox
  | \.mywaflib
  | \.pytest_cache
)/
'''
verbose = true
