---
name: main
# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
# yamllint disable rule:line-length
on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']
jobs:
  run-tests:
    name: Run tests for ${{ matrix.os }} on Python 3.13
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Install TinyTex
        uses: r-lib/actions/setup-tinytex@v2
      - name: Install additional LaTeX packages
        run: |
          tlmgr update --self
          tlmgr install a4wide biber biblatex booktabs caption datetime doi eurosym fancyhdr fmtcount grfext microtype minibox moreverb natbib ntgclass relsize setspace units xetex xfrac xunicode
          tlmgr list --only-installed
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.61.0
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          activate-environment: true
          frozen: true
      - name: Install npm packages
        shell: bash {0}
        run: pixi run npm install
      - name: Run pytest on MacOS
        shell: bash {0}
        run: pixi run pytest
        if: runner.os == 'MacOS'
      - name: Run tests on Windows
        shell: bash {0}
        run: pixi run pytest
        if: runner.os == 'Windows'
      - name: Run pytest (with coverage) on Linux
        shell: bash {0}
        run: pixi run pytest --cov-report=xml --cov=./
        if: runner.os == 'Linux'
      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        if: runner.os == 'Linux'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  run-docs:
    name: Run docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.61.0
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          activate-environment: true
          frozen: true
      - name: Build docs
        shell: bash {0}
        run: pixi run build-docs
      - name: Check validity of URLs
        shell: bash {0}
        run: pixi run check-docs-urls
